@charset "utf-8";
/* global reset */
html {
    color:#323232;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,body{
    height: 100%
}
body{
    min-width: 1200px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
body,button,input,select,textarea {
    font:14px/1.5 "微软雅黑","Microsoft YaHei",arial,tahoma,"Hiragino Sans GB",宋体;
}
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}
textarea{resize:none;width:100%;}
button,input {
    line-height: normal
}
*:focus {outline: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}
button[disabled],html input[disabled] {
    cursor: default
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
table {
    border-collapse:collapse;border-spacing:0;
}
th {
    text-align:inherit;
}
fieldset,img {
    border:0;
}
img {
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
iframe {
    display:block;
}
abbr,acronym {
    border:0;font-variant:normal;
}
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
ol,ul,li {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
.sep, .ndash {
    font-family: sans-serif;
}
a:hover,a:active {
    outline: 0
}
a  {color: #1A1A1A}
ins,a {
    text-decoration:none;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
.cursor-p{
    cursor: pointer
}
.red-cc{
    color: #AD1B27
}
.grey-cc{
    color: #9C9C9C
}
.grey{
	color:#999
}
.grey1{
	color:#565656
}
.nav-other-bgc{
    background: #F2F2F2;
}
.bold{font-weight: bold;}
.clearfix {
    *zoom: 1
}
.bold {
    font-weight: bold;
}
.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}
.clearfix:after {
    clear: both
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1;
}
.ui-input-checkbox{
    vertical-align: middle
}
body .fn-hide {
    display:none;
}
body .fn-show {
    display:block;
}
.ft12{font-size: 12px}
.ft14{font-size: 14px}
.ft16{font-size: 16px}
.ft18{font-size: 18px}
.ft20{font-size: 20px}
.ft22{font-size: 22px}
.ft24{font-size: 24px}
.ft26{font-size: 26px}
.ft28{font-size: 28px}
.ft30{font-size: 30px}
.ft32{font-size: 32px}
.ft34{font-size: 34px}
.ft36{font-size: 36px}
.orange{color: #F28A10}
.blue{color: #16afee}
.purple{color:#7f55ab}
.blue2{color: #00afeb}
.grey-lv1{color: #5B5B5B}
.more-c{color:grey}
.bg-white{background: #fff}
.e-orange-12{font-size:12px;color: #F28A10}
.e-orange-14{font-size:14px;color: #F28A10}
.e-orange-16{font-size:16px;color: #F28A10}
.e-orange-18{font-size:18px;color: #F28A10}
.e-orange-20{font-size:20px;color: #F28A10}
.e-orange-22{font-size:22px;color: #F28A10}
.e-orange-24{font-size:24px;color: #F28A10}
.e-orange-26{font-size:26px;color: #F28A10}
.e-orange-28{font-size:28px;color: #F28A10}
.e-orange-30{font-size:30px;color: #F28A10}
.e-orange-32{font-size:32px;color: #F28A10}
.e-orange-34{font-size:34px;color: #F28A10}
.e-orange-36{font-size:36px;color: #F28A10}
.fn-r{text-align: right}
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fn-text-auto{
    word-break: break-all; 
    word-wrap: break-word
}
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
}
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}
.check-error-text{
	font-size:12px;
	color:#fc4343
}
.check-right-text{
	color:green
}
.green{
	color:#008001
}
.green2{
   color:#58CC04 
}
.green3{
   color:#ADCC67
}
.red{
	color:#f24b0b
}
.yellow{
	color:#EBA000
}
.grey{
	color:#808080
}
.container2{
    width:1000px;
    border-left:1px #eaeaea solid;
    border-right:1px #eaeaea solid;
    margin-right:auto;
    margin-left:auto;
}
.container{
    width:1000px;
    margin-right:auto;
    margin-left:auto;
    *zoom:1
}
.container:before,.container:after {
    display:table;
    content:"";
    line-height:0
}
.container:after {
    clear:both
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    *zoom:1
}
.container-fluid:before,.container-fluid:after {
    display:table;
    content:"";
    line-height:0
}
.container-fluid:after {
    clear:both
}


/*layout grid*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{
    display:inline;
    float:left;
    margin-left:10px;
    margin-right:10px
}
.container .grid_1 {
    width:60px
}
.container .grid_2 {
    width:140px
}
.container .grid_3 {
    width:230px
}
.container .grid_4 {
    width:300px
}
.container .grid_5 {
    width:380px
}
.container .grid_6 {
    width:460px
}
.container .grid_7 {
    width:540px
}
.container .grid_8 {
    width:620px
}
.container .grid_9 {
    width:710px
}
.container .grid_10 {
    width:780px
}
.container .grid_11 {
    width:860px
}
.container .grid_12 {
    width:960px
}
.grid-960{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/*text position*/
.fn-l{
    text-align: left
}
.fn-r{
    text-align: right
}
.fn-c{
    text-align: center
}
.fl{
	float:left
}
.fr{
	float:right
}
.vtc-mid{
    vertical-align: middle
}
.vt{
    vertical-align: top
}
.vm{
    vertical-align: middle
}
.vb{
    vertical-align: bottom
}
.dib{
    display: inline-block;
}
.tc{
	text-align:center
}
.tl{
	text-align:left
}
.tr{
	text-align:right
}
.pr {
	position:relative
}
.pa {
	position:absolute
}
.pf {
	position:fixed
}
.text-input-focus{
    border-color: solid 1px #488ee7
}
.text-input-error{
    border-color: solid 1px #fc4343
}
.ui-checkbox,.ui-input-radio,.ui-input{
    vertical-align: middle;
}
.ui-textarea{
	display:block;
	*display:inline;
	border:1px solid #eaeaea
}
.fn-posire{
	position:relative
}
.min100{min-height: 100px;_height:100px;}
.min150{min-height: 150px;_height:150px;}
.min200{min-height: 200px;_height:500px;}
.min250{min-height: 250px;_height:250px;}
.min300{min-height: 300px;_height:300px;}
.min350{min-height: 350px;_height:350px;}
.min400{min-height: 400px;_height:400px;}
.min450{min-height: 450px;_height:450px;}
.min500{min-height: 500px;_height:500px;}



/*WIDTH*/
.w10{width: 10px}
.w15{width: 15px}
.w20{width: 20px}
.w25{width: 25px}
.w30{width: 30px}
.w35{width: 35px}
.w39{width: 39px}
.w40{width: 40px}
.w45{width: 45px}
.w50{width: 50px}
.w60{width: 60px}
.w69{width: 69px}
.w70{width: 70px}
.w80{width: 80px}
.w84{width: 84px}
.w90{width: 90px}
.w100{width: 100px}
.w110{width: 110px}
.w120{width: 120px}
.w130{width: 130px}
.w140{width: 140px}
.w150{width: 150px}
.w160{width: 160px}
.w170{width: 170px}
.w180{width: 180px}
.w190{width:190px}
.w200{width:200px}
.w210{width:210px}
.w220{width: 220px}
.w240{width: 240px}
.w260{width: 260px}
.w380{width: 380px}
.w500{width: 500px}

/*HEIGHT*/
.h10{height: 10px}
.h20{height: 20px}
.h30{height: 30px}
.h40{height: 40px}
.h50{height: 50px}
.h60{height: 60px}
.h70{height: 70px}
.h80{height: 80px}
.h90{height: 90px}
.h100{height: 100px}
.h110{height: 110px}
.h120{height: 120px}
.h130{height: 130px}
.h140{height: 140px}
.h150{height: 150px}
.h160{height: 160px}
.h170{height: 170px}
.h180{height: 180px}
.h190{height:190px}
.h200{height:200px}
.h210{height:210px}
.h220{height: 220px}
.h380{height: 380px}
.h500{height: 500px}
.pw50{
	width:50%
}
.pw100{
	width:100%
}
.mt1{margin-top: 1px}
.mt2{margin-top: 2px}
.mt3{margin-top: 3px}
.mt4{margin-top: 4px}
.mt5{margin-top: 5px}
.mt6{margin-top: 6px}
.mt7{margin-top: 7px}
.mt8{margin-top: 8px}
.mt9{margin-top: 9px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mt30{margin-top: 30px}
.mt35{margin-top: 35px}
.mt40{margin-top: 40px}
.mt45{margin-top: 45px}
.mt50{margin-top: 50px}
.mt55{margin-top: 55px}
.mt60{margin-top: 60px}
.mt65{margin-top: 65px}
.mt70{margin-top: 70px}
.mt75{margin-top: 75px}
.mt80{margin-top: 80px}
.mt85{margin-top: 85px}
.mt90{margin-top: 90px}
.mt95{margin-top: 95px}
.mt100{margin-top: 100px}

.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}
.mb15{margin-bottom: 15px}
.mb20{margin-bottom: 20px}
.mb25{margin-bottom: 25px}
.mb30{margin-bottom: 30px}
.mb35{margin-bottom: 35px}
.mb40{margin-bottom: 40px}
.mb45{margin-bottom: 45px}
.mb50{margin-bottom: 50px}
.mb55{margin-bottom: 55px}
.mb60{margin-bottom: 60px}
.mb65{margin-bottom: 65px}
.mb70{margin-bottom: 70px}
.mb75{margin-bottom: 75px}
.mb80{margin-bottom: 80px}
.mb85{margin-bottom: 85px}
.mb90{margin-bottom: 90px}
.mb95{margin-bottom: 95px}
.mb100{margin-bottom: 100px}


.mr5{margin-right:5px}
.mr10{margin-right: 10px}
.mr15{margin-right: 15px}
.mr20{margin-right: 20px}
.mr25{margin-right: 25px}
.mr30{margin-right: 30px}
.mr35{margin-right: 35px}
.mr40{margin-right: 40px}
.mr45{margin-right: 45px}
.mr50{margin-right: 50px}
.mr55{margin-right: 55px}
.mr60{margin-right: 60px}
.mr65{margin-right: 65px}
.mr70{margin-right: 70px}
.mr75{margin-right: 75px}
.mr80{margin-right: 80px}
.mr85{margin-right: 85px}
.mr90{margin-right: 90px}
.mr95{margin-right: 95px}
.mr100{margin-right: 100px}

.ml-10{margin-left: -10px}
.ml-5{margin-left:-5px}
.ml5{margin-left:5px}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml25{margin-left: 25px}
.ml30{margin-left: 30px}
.ml35{margin-left: 35px}
.ml40{margin-left: 40px}
.ml45{margin-left: 45px}
.ml50{margin-left: 50px}
.ml55{margin-left: 55px}
.ml60{margin-left: 60px}
.ml65{margin-left: 65px}
.ml70{margin-left: 70px}
.ml75{margin-left: 75px}
.ml80{margin-left: 80px}
.ml85{margin-left: 85px}
.ml90{margin-left: 90px}
.ml95{margin-left: 95px}
.ml100{margin-left: 100px}
.ml110{margin-left: 110px}
.ma{margin: 0 auto;}

/*padding*/
.pt5{padding-top:5px}
.pt8{padding-top: 8px}
.pt10{padding-top: 10px}
.pt15{padding-top: 15px}
.pt20{padding-top: 20px}
.pt25{padding-top: 25px}
.pt30{padding-top: 30px}
.pt35{padding-top: 35px}
.pt40{padding-top: 40px}
.pt45{padding-top: 45px}
.pt50{padding-top: 50px}
.pt55{padding-top: 55px}
.pt60{padding-top: 60px}
.pt65{padding-top: 65px}
.pt70{padding-top: 70px}
.pt75{padding-top: 75px}
.pt80{padding-top: 80px}
.pt85{padding-top: 85px}
.pt90{padding-top: 90px}
.pt95{padding-top: 95px}
.pt100{padding-top: 100px}


.pb5{padding-bottom:5px}
.pb10{padding-bottom: 10px}
.pb15{padding-bottom: 15px}
.pb20{padding-bottom: 20px}
.pb25{padding-bottom: 25px}
.pb30{padding-bottom: 30px}
.pb35{padding-bottom: 35px}
.pb40{padding-bottom: 40px}
.pb45{padding-bottom: 45px}
.pb50{padding-bottom: 50px}
.pb55{padding-bottom: 55px}
.pb60{padding-bottom: 60px}
.pb65{padding-bottom: 65px}
.pb70{padding-bottom: 70px}
.pb75{padding-bottom: 75px}
.pb80{padding-bottom: 80px}
.pb85{padding-bottom: 85px}
.pb90{padding-bottom: 90px}
.pb95{padding-bottom: 95px}
.pb100{padding-bottom: 100px}


.pl5{padding-left: 5px}
.pl10{padding-left: 10px}
.pl15{padding-left: 15px}
.pl20{padding-left: 20px}
.pl25{padding-left: 25px}
.pl30{padding-left: 30px}
.pl35{padding-left: 35px}
.pl40{padding-left: 40px}
.pl45{padding-left: 45px}
.pl50{padding-left: 50px}
.pl55{padding-left: 55px}
.pl60{padding-left: 60px}
.pl65{padding-left: 65px}
.pl70{padding-left: 70px}
.pl75{padding-left: 75px}
.pl80{padding-left: 80px}
.pl85{padding-left: 85px}
.pl90{padding-left: 90px}
.pl95{padding-left: 95px}
.pl100{padding-left: 100px}



.pr5{padding-right:5px}
.pr10{padding-right: 10px}
.pr15{padding-right: 15px}
.pr20{padding-right: 20px}
.pr25{padding-right: 25px}
.pr30{padding-right: 30px}
.pr35{padding-right: 35px}
.pr40{padding-right: 40px}
.pr45{padding-right: 45px}
.pr50{padding-right: 50px}
.pr55{padding-right: 55px}
.pr60{padding-right: 60px}
.pr65{padding-right: 65px}
.pr70{padding-right: 70px}
.pr75{padding-right: 75px}
.pr80{padding-right: 80px}
.pr85{padding-right: 85px}
.pr90{padding-right: 90px}
.pr95{padding-right: 95px}
.pr100{padding-right: 100px}

.txt-idt{
	text-indent:2em
}

.bg-orange{
    background: #F7B551
}
.bg-blue{
    background: #15AFED
}
.bg-purple{
    background: #8BADDB
}
.bg-grey{
	background:#dedede
}
.color-yellow-bg{
    background: #FFB70A
}
.color-white-bg{
    background: #FFFFFF
}
.color-grey-bg{
    background: #F2F4F7
}
.color-grey-line{
    border-top: solid 1px #eaeaea;
    line-height: 1px;
}
.color-black-text{
    color: #1A1A1A
}
.color-blue-text{
    color: #23A3DD
}
.color-yellow-text{
    color: #fbb111
}
.color-orange-text{
    color: #FD9D0B
}
.color-grey-text{
    color: #999
}
.color-grey1-text{
    color: #A2A2A2
}
.color-grey3-text{
    color: #999999
}
.style-itelic-text{
    font-style: italic;
}
.style-bold-text{
    font-weight: bold;
}

/*site-header S*/
.site-header{
    background: #FFF
}
.site-topbar{
    background: #3A3A3B;
    height:35px;
    line-height: 35px;
    position:relative;
    z-index:9999
}
.topbar-nav{
    color: #D6D6D6
}
.icon{
    vertical-align: middle;
    display: inline-block
}
.icon-app{
    width: 10px;
    height: 17px;
    margin-top: -3px;
    margin-right: 10px;
    background: url(../images/iphone3g.png) no-repeat;
}
.icon-gift{
    width: 15px;
    height:15px;
    margin-top: -3px;
    margin-right: 10px;
    background: url(../images/gift.png) no-repeat;
}
.split {
    border-right: 1px solid #29292A;
  	border-left: 1px solid #656566;
    vertical-align: middle;
    margin: 8px 17px 0px 7px;
    height: 18px;
    width: 0px;
}
.icon-norton{
	margin-top:-58px;
	display:inline-block;
	width:95px;
	height:36px;
	cursor:pointer;
	background: url(../images/creditbg_02.png) 0 0  no-repeat;
}
.icon-norton:hover{
	background-position:-100px 0;
}
.icon-integrity{
	margin:-58px 108px 0 0;
	*margin-right:10px;
	display:inline-block;
	width:101px;
	height:36px;
	cursor:pointer;
	background: url(../images/integrity-site1.png) no-repeat;
}
.icon-integrity:hover{
	background: url(../images/integrity-site2.png) no-repeat;
}
.icon-hotline{
    width: 22px;
    height: 22px;
    margin-top: -3px;
    margin-right: 10px;
    background: url(../images/hotline.png) no-repeat;
}
.icon-wb{
    width: 22px;
    height: 22px;
    margin-top: -3px;
    margin-right: 10px;
    background: url(../images/icon-wb.png) no-repeat; 
}
.icon-wb:hover{
	background: url(../images/icon-wb-hov.png) no-repeat
}
.icon-wx{
    width: 22px;
    height: 22px;
    margin-top: -3px;
    background: url(../images/icon-wx.png) no-repeat; 
}
.icon-wx:hover{
	background: url(../images/icon-wx-hov.png) no-repeat;
}
.concern-wxcode{
	display:none;
	margin-top:-9px;
	margin-left:45px;
	width:186px;
	height:116px;
	*position:relative;
	*margin-top:18px;
	*margin-left:-86px;
}
.accountC{
 	background: #16afee;
   	border: 1px #eaeaea solid;
   	color: #fff
}
.mod-link-invite{
    color: #FDA917;
    margin-left:40px;
}
.mod-link-help{
    color: #D6D6D6;
    margin-left: 40px;
}
.mod-link-help:hover{
	color: white;
}
.mod-link-cusfin{
    margin-left:40px;
    position:relative;
}
.mod-link-cusfin a{
	color: #D6D6D6;
	height:35px;
	line-height:35px;
	display:inline-block;
}
.mod-link-cusfin:hover a{
	color:white;
}
.mod-link-cusfin .icon-new-events{
	position:absolute;
	right:-26px;
	top:2px;
	width:26px;
	height:9px;
	background:url(../images/icon-new-events.png) no-repeat;
}
.mod-link-mission{
    color: #D6D6D6;
    margin-left: 40px;
}
.mod-link-mission:hover{
	color: white;
}
.icon-mission-on{
	position:absolute;
	top:10px;
	vertical-align:text-top;
	height:4px;
	width:4px;
	margin-left:2px;
	background:url(../images/icon-mission-on.png) no-repeat;
	display:none;
}
.logged-info{
    float: right;
    margin-left: 26px;
    color: #A09F9F
}
.logged-info em{
    color: #FDA917
}
.logoff-link{
    float: right;
    margin-left: 20px;
    color: #A09F9F
}
.logoff-link:hover{
	color:white;
}
.mod-link-reg{
    color: #FDA917;
    margin:0px 0px 0px 40px
}
.split2 {
	border-right: 1px solid #29292A;
 	 border-left: 1px solid #656566;
    margin: 8px 7px 0px 14px;
    height: 18px;
    width: 0px;
}
.mod-link-login{
    color: #2EA3FD
}
.msg-total-num{
	margin-left:5px;
	display:inline-block;
	padding:0 7px;
	height:20px;
	color:#fff;
	line-height:20px;
	text-align:center;
	background:#e7420a;
	border-radius:4px
}
/*site-header E*/



/*site-header S*/
.site-logo{
    padding:13px 13px 12px 0
}
.icon-site-logo{
    width: 113px;
    height: 55px;
    background: url(../images/logo.png) no-repeat
}
.icon-site-logo2{
    width: 270px;
    height: 55px;
    background: url(../images/logo-entrust.png) no-repeat
}
.icon-logo-info{
    width: 114px;
    height: 25px;
    margin-left: 30px;
    background: url(../images/logo-info.png) no-repeat
}
a.beta-icon-logo{
	display:inline-block;
	height:18px;
	width:56px;
	vertical-align:top;
	margin-left:5px;
	background:url(../images/beta.png) no-repeat
}
a.alpha-icon-logo{
	display:inline-block;
	height:18px;
	width:56px;
	vertical-align:top;
	margin-left:5px;
	background:url(../images/alpha.png) no-repeat
}
.nav-main-item{
    line-height: 30px;
    margin-right:15px 
}
.nav-main-item a{
    display: inline-block;
    padding:0 6px;
    border-bottom: 2px #fff solid;
    font-size: 16px
}
.nav-main-item a:hover{
    color: #16afee
}
.nav-main{
    position: relative;
    z-index:6;
}
.nav-slide-bar{
	margin-right:15px;
}
.nav-slide-bar .main-class{
	position:relative;
	cursor:pointer;
}
.nav-slide-bar .main-class span{
	font-size:16px;
	line-height:30px;
	padding:0 6px 10px;
}
.nav-slide-bar .main-class span i{
	display:inline-block;
	height:4px;
	width:12px;
	vertical-align:middle;
	margin-left:4px;
	margin-bottom:2px;
	background:url(../images/icon-nav-slide.png) no-repeat;
}
.nav-slide-bar .main-class:hover span i{
	background-position:0 -5px;
}
.nav-slide-bar .main-class:hover .box-dialog{
	display:block;
}
.nav-slide-bar .box-dialog{
	display:none;
	position:absolute;
	top:35px;
	left:-22px;
	text-align:center;
	width:120px;
	border:1px solid #e0e0e0;
	background:#fff;
	*top:25px;
}
.nav-slide-bar .box-dialog .icon-nav-dialog-arrow{
	height:8px;
	width:14px;
	display:inline-block;
	background:url(../images/icon-dialog-arrow.png) no-repeat no-repeat top center;
	position:absolute;
	top:-8px;
	left:50%;
	margin-left:-7px;
}
.nav-slide-bar .box-dialog li{
	height:34px;
	line-height:34px;
}
.nav-slide-bar .box-dialog li a{
	display:block;
}
.nav-slide-bar .box-dialog li a:hover{
	background:#2ba8f4;
	color:#fff;
}
.my-account{
	border-left:1px solid #eaeaea
}
.header-nav{
	width:600px;
    padding: 28px 0 14px
}
.header-nav-wrap .nav-current {
    background: #16afee;
    bottom: -2px;
    height: 2px;
    overflow: hidden;
    position: absolute;
}
.mod-link-account{
    margin-left: 16px;
    margin-top: -2px;
    display: inline-block;
    width: 97px;
    height: 34px;
    line-height:34px;
    text-align: center;
    border: 1px #eaeaea solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-size:16px
}
.mod-link-account.current{
    background: #16afee;
    color: #fff
}
.mod-link-account:hover{
    background: #16afee;
    border: 1px #16afee solid;
    color: #fff
}
.site-cnt-line{
    background:#EEEEEE;
    height: 5px
}
/*site-header E*/





/*site-footer S*/
.site-footer{
	background:#fff;
    color: #303030;
    height: 166px;
}
.site-footer .ui-footer-top{
    height: 166px
}
.ui-service,.ui-links{
    width: 500px
}
.service-line{
    padding-top: 40px;
    padding-left: 46px
}
.service-line .service-line-time{
    font-size: 16px;
    color: #303030
}
.service-line-num{
    font-size: 28px;
    color: #434343
}
.service-mail{
    color: #303030
}
.ui-links-top{
    padding-top: 40px;
    padding-left: 0px;
    height: 36px;
    line-height: 36px
}
.ui-links-top .icon{
    margin-left: 10px;
    width: 36px;
    height: 36px;
    background: url(../images/iconsx.png) no-repeat;
    cursor: pointer
}
.icon.icon-sinawb {
    margin-left:25px;
    background-position: 0 0
}
.icon.icon-sinawb:hover {
    background-position: 0 -36px
}
.showWX-bg{
	background-color:black;
	height:100%;
	width:100%;
	opacity:0.5;
	position:fixed;
	display:none;
	top:0;
	left:0;
	z-index:998;
	filter:alpha(opacity=50);
	/* older safari/Chrome browsers */  
    -webkit-opacity: 0.5;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.5;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.5;  
}
.showWX-panel{
	display:none;
	background:#fff;
	opacity:1;
	height:300px;
	width:608px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-304px;
	margin-top:-150px;
	z-index:999;
	-moz-user-select: none;
	-webkit-user-select: none; /* for Chrome */
}
.close-btn{
	float:right;
	position:absolute;
	padding:16px;
	border-left:1px dashed gray;
	text-decoration:none;
	font-size:24px;
	height:18px;
	line-height:14px;
	font-weight:normal;
	right:0px;
	top:0px;
	font-family:tahoma;
	text-align:center;
	cursor:pointer;
}
.close-btn:hover{
	color:#F28A10;
}
.close-panel{
	border-bottom:1px dashed gray;
	color:black;
	text-align:left;
}
.wxtitle-word{
	display:inline-block;
	font-size:18px;
	height:50px;
	line-height:50px;
	text-align:left;
	margin-left:20px;
	position:relative;
}
.wxcontent{
	margin:30px 0;
}
.wxfilter{
	width:330px;
	height:222px;
	background:#fff repeat center;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	/* older safari/Chrome browsers */  
    -webkit-opacity: 0;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0;  
}
.wxcode-logo{
	height:112px;
	width:112px;
	background:url(../images/icon-wx.png) no-repeat;
}
.wxcode-img-order{
	background-position:0 0
}
.wxcode-img-service{
	background-position:-112px 0
}
.mod-wx{
	padding:0 70px 0 106px
}
.mod-wx.mod-wx-opz{
	padding:0 106px 0 70px
}
.wx-img-desc{
	font-size:18px;
	color:#F28A10;
	text-align:center;
}
.wxbottom-word{
	border-top:1px dashed gray;
	height:45px;
	line-height:45px;
	padding-left:20px;
}
.wx-brd{
	border-right:1px #eaeaea solid
}
.icon.icon-sitewx{
    background-position: -36px 0
}
.icon.icon-sitewx:hover{
    background-position: -36px -36px
}
.icon.icon-airlines{
    display: inline-block;
    width: 24px;
    height: 19px;
    background-position: -278px 0
}
.online-service-link:hover{
	color:#00afeb
}
.online-service-link:hover .icon.icon-airlines{
	background-position: -278px -19px
}
.icon.icon-logo1{
    margin-left: 26px;
    width: 70px;
    height: 34px;
    background-position: -2px -140px
}
.links-nav-item{
    margin-right: 30px;
    float: left;
}
.links-nav-item a{
   color: #303030 
}
.ui-links-nav{
    padding: 30px 0 0 10px
}
.footer-infor{
    height: 78px;
    line-height: 78px;
    background: #484849
}
.footer-infor-copyright{
	text-align:left;
    font-size: 12px;
    color: #fff
}
.footer-infor-copylink{
	color:#fff;
	font-size:12px;
}
.footer-infor-copylink:hover{
	text-decoration:underline;
}
.icon.investigation{
    width: 92px;
    height: 34px;
    background-position: 0 -72px
}
.icon.investigation:hover{
    background-position: 0 -106px
}
.icon.safety{
    width: 91px;
    height: 34px;
    background-position: -92px -72px
}
.icon.safety:hover{
    background-position: -92px -106px
}
.icon.good-website{
    width: 95px;
    height: 34px;
    background-position: -183px -72px
}
.icon.good-website:hover{
    background-position: -183px -106px
}

.safety-box .icon{
    margin:0;
    margin-left: 5px
}

/*site-footer E*/




/*reg footer S*/
.nl-footer{
    margin-top: 70px;
    height: 52px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 52px;
    border-top: 1px solid #eaeaea;
    text-align: center;
}
.nl-f-copyright,a.cpright_s{
	color:#a3a3a3
}
a.cpright{
	color:#FFF;
}
.cpright:hover,.cpright_s:hover{
	text-decoration:underline;
}
/*reg footer E*/





/*分页 S*/
.details-table-no{
	text-align:center;
}
.invest-list{
	padding-bottom:20px;
}
.ui-page{
    text-align: center
}
.ui-page a{
    border-radius: 5px;
    color: #9FADB8;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin: 0 4px;
    padding: 0 8px;
    background: #E7EBEE;
    text-decoration: none
}
.ui-page a.symbol{
    border-radius: 5px;
    color: #9FADB8;
    background: #E7EBEE;
    display: inline-block;
    height: 21px;
    width: 21px;
    padding: 0 1px;
    line-height: 21px;
    margin: 0 4px;
    text-decoration: none
}
.ui-page .ellipsis{
    font-weight: 400px;
    color: #9FADB8;
    height: 24px;
    width: 21px;
    padding: 0 1px;
    line-height: 21px
}
.ui-page a.cur{
    background: #25A3DB;
    color: #fff
}
/*分页 E*/



/*下拉框 S*/
.mod-cus-sel{font-size:12px}
.cus-sel-active{position:relative}
.mod-cus-sel{border:1px solid;border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;box-shadow:2px 3px 3px #f6f8f9 inset;-moz-box-shadow:2px 3px 3px #f6f8f9 inset;-webkit-box-shadow:2px 3px 3px #f6f8f9 inset;height:28px;line-height:28px;float:left;cursor:pointer;background:transparent url(../images/cussel_normal.png) no-repeat right center;margin-right:10px;_width:100px}
.mod-cus-sel.cus-sel-active{background:transparent url(../images/cussel_normal2.png) no-repeat right center}
.mod-cus-sel:hover{border-color:#6699c9 #a1bbd3 #a1bbd3 #6699c9;box-shadow:2px 3px 3px #d5e0e9 inset;-moz-box-shadow:2px 3px 3px #d5e0e9 inset;-webkit-box-shadow:2px 3px 3px #d5e0e9 inset}
.mod-cus-sel .cus-sel-opt-panel,.cus-sel-opt-txt{margin:0 25px 0 10px;padding-right:10px;line-height:28px;min-width:65px;display:inline-block;_width:65px;white-space:nowrap}
.cus-sel-opt-panel{border-right:1px #eaeaea solid}
.cus-sel-opt-ctn{display:none;max-height:160px}
.cus-sel-active .cus-sel-opt-ctn{background:#fff;display:block;position:absolute;top:29px;left:-1px;width:100%;overflow-x:hidden;overflow-y:auto;z-index:100;border:solid #e5e5e5;border-width:0 1px 1px 1px}
.cus-sel-opt-selected,.cus-sel-opt:hover{background:#f7f7f7}
.cus-sel-opt{white-space:nowrap}
.cus-sel-opt-txt,.cus-sel-opt-txt:link,.cus-sel-opt-txt:visited,.cus-sel-opt-txt:hover,.cus-sel-opt-txt:active{color:#666}
.mod-cus-sel:hover .cus-sel-opt-ctn{border-color:#a1bbd3}
/*下拉框 E*/


/*面包屑 S*/
.ui-breadcrumbs{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	line-height:50px;
	color: #D7D7D7
}
.ui-breadcrumbs a{
	color: #7D7D7D
}
.ui-breadcrumbs a.current {
	color: #000;
}


.ui-btn.disabled{
	background:#bdc3c7
}
.site-nav-text {
    border-left: 1px solid #eaeaea;
    color: #bbb9b9;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    margin: 25px 0 0 20px;
    padding-left: 20px;
}

/*info-null-tip*/
.info-tip-null{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #23A3DD
}


/*我的账户-左侧导航栏 S*/
.uc-full-box{
	padding: 20px 0;
	overflow: hidden;
}
.nav-sidebar{
	width: 174px;
	min-height: 580px;
	_height:580px;
	border: 1px #eaeaea solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff
}
.content-right{
    width: 804px;
}
.content-min-right{
    width: 804px;
    min-height: 580px;
}
.comm-bd{
    background: #fff;
    border: 1px #eaeaea solid;
    border-radius: 4px
}
.nav-sidebar-item{
	padding-left:23px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px #eaeaea solid;
	*vertical-align: top;
}
.nav-sidebar-item a{
	padding-left: 10px;
	margin-right:15px;
	display: block;
}
.nav-sidebar-item a.current{
	color:#16afee
}
.nav-sidebar-title{
	padding-left:57px;
	color:#666;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px #eaeaea solid;
	*vertical-align: top;
}
.nav-sidebar-title{
	margin-right: 15px;
	padding-left: 57px;
	display: block;
}

.nav-sidebar .acc-icon{
		margin-right:10px;
    	vertical-align: middle;
    	cursor: pointer;
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(../images/icon-acc.png) no-repeat;
		-webkit-transition:0.4s  ease; 
		-moz-transition:0.4s  ease;
		-o-transition:0.4s  ease; 
		-ms-transition:0.4s  ease;
    }
	.nav-sidebar-item:hover .acc-icon{
		-moz-transform:rotate(360deg); 
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
	}
	.acc-icon.acc-mark{
		background-position: 0 0
	}
	.acc-icon.acc-invest{
		background-position: -15px 0
	}
	.acc-icon.acc-loan{
		background-position: -30px 0
	}
	.acc-icon.acc-funk{
		background-position: -45px 0
	}
	.acc-icon.acc-creditor{
		background-position: -60px 0
	}
	.acc-icon.acc-datum{
		background-position: -75px 0
	}
	.acc-icon.acc-msg{
		background-position: -90px 0
	}
    .acc-icon.acc-invest-apply{
        background-position: -105px 0
    }
    .acc-icon.acc-pjk{
    	background-position: -120px 0
    }
    


.nav-sidebar-item.current .acc-mark{
	background-position: 0 -15px
}
.nav-sidebar-item.current .acc-invest{
	background-position: -15px -15px
}
.nav-sidebar-item.current .acc-loan{
	background-position: -30px -15px
}

.nav-sidebar-item.current .acc-funk{
	background-position: -45px -15px
}
.nav-sidebar-item.current .acc-creditor{
	background-position: -60px -15px
}
.nav-sidebar-item.current .acc-datum{
	background-position: -75px -15px
}
.nav-sidebar-item.current .acc-msg{
	background-position: -90px -15px
}
.nav-sidebar-item.current .acc-invest-apply{
    background-position: -105px -15px
}
.nav-sidebar-item.current .acc-pjk{
    	background-position: -120px -15px
}
.nav-sidebar-item.current a {
    color: #16afee;
}



/*模态窗口 S*/
.ui-dialog{*zoom:1;_float:left;position:relative;background-color:#FFF;border:1px solid #eaeaea;border-radius:6px;outline:0;background-clip:padding-box;font-family:"微软雅黑","Microsoft YaHei",Helvetica,arial,sans-serif;font-size:14px;line-height:1.428571429;color:#333;opacity:0;-webkit-transform:scale(0);transform:scale(0);-webkit-transition:-webkit-transform .15s ease-in-out,opacity .15s ease-in-out;transition:transform .15s ease-in-out,opacity .15s ease-in-out}
.ui-popup-show .ui-dialog{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
.ui-popup-focus .ui-dialog{box-shadow:0 0 8px rgba(0,0,0,0.1)}
.ui-popup-modal .ui-dialog{box-shadow:0 0 8px rgba(0,0,0,0.1),0 0 256px rgba(255,255,255,.3)}
.ui-dialog-grid{width:auto;margin:0;border:0 none;border-collapse:collapse;border-spacing:0;background:transparent}
.ui-dialog-header,.ui-dialog-body,.ui-dialog-footer{padding:0;border:0 none;text-align:left;background:transparent}
.ui-dialog-header{white-space:nowrap;border-bottom:1px solid #eaeaea}
.ui-dialog-close{position:relative;_position:absolute;float:right;top:8px;right:13px;_height:26px;padding:0 4px;font-size:21px;font-weight:bold;line-height:1;color:#000;text-shadow:0 1px 0 #FFF;opacity:.2;filter:alpha(opacity=20);cursor:pointer;background:transparent;_background:#FFF;border:0;-webkit-appearance:none}
.ui-dialog-close:hover,.ui-dialog-close:focus{color:#000;text-decoration:none;cursor:pointer;outline:0;opacity:.5;filter:alpha(opacity=50)}
.ui-dialog-title{margin:0;line-height:1.428571429;min-height:16.428571429px;padding:10px 15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:bold;cursor:default}
.ui-dialog-body{padding:20px;text-align:center}
.ui-dialog-content{display:inline-block;position:relative;vertical-align:middle;*zoom:1;*display:inline;text-align:left}
.ui-dialog-footer{padding:0 20px 20px 20px}
.ui-dialog-statusbar{float:left;margin-right:20px;padding:6px 0;line-height:1.428571429;font-size:14px;color:#888;white-space:nowrap}
.ui-dialog-statusbar label:hover{color:#333}
.ui-dialog-statusbar input,.ui-dialog-statusbar .label{vertical-align:middle}
.ui-dialog-button{float:right;white-space:nowrap}
.ui-dialog-footer button+button{margin-bottom:0;margin-left:5px}
.ui-dialog-footer button{width:auto;overflow:visible;display:inline-block;padding:6px 12px;_margin-left:5px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.ui-dialog-footer button:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.ui-dialog-footer button:hover,.ui-dialog-footer button:focus{color:#333;text-decoration:none}
.ui-dialog-footer button:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.ui-dialog-footer button[disabled]{pointer-events:none;cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
.ui-dialog-footer button{color:#333;background-color:#fff;border-color:#ccc}
.ui-dialog-footer button:hover,.ui-dialog-footer button:focus,.ui-dialog-footer button:active{color:#333;background-color:#ebebeb;border-color:#adadad}
.ui-dialog-footer button:active{background-image:none}
.ui-dialog-footer button[disabled],.ui-dialog-footer button[disabled]:hover,.ui-dialog-footer button[disabled]:focus,.ui-dialog-footer button[disabled]:active{background-color:#fff;border-color:#ccc}
.ui-dialog-footer button.ui-dialog-autofocus{color:#fff;background-color:#428bca;border-color:#357ebd}
.ui-dialog-footer button.ui-dialog-autofocus:hover,.ui-dialog-footer button.ui-dialog-autofocus:focus,.ui-dialog-footer button.ui-dialog-autofocus:active{color:#fff;background-color:#3276b1;border-color:#285e8e}
.ui-dialog-footer button.ui-dialog-autofocus:active{background-image:none}
.ui-popup-top-left .ui-dialog,.ui-popup-top .ui-dialog,.ui-popup-top-right .ui-dialog{top:-8px}
.ui-popup-bottom-left .ui-dialog,.ui-popup-bottom .ui-dialog,.ui-popup-bottom-right .ui-dialog{top:8px}
.ui-popup-left-top .ui-dialog,.ui-popup-left .ui-dialog,.ui-popup-left-bottom .ui-dialog{left:-8px}
.ui-popup-right-top .ui-dialog,.ui-popup-right .ui-dialog,.ui-popup-right-bottom .ui-dialog{left:8px}
.ui-dialog-arrow-a,.ui-dialog-arrow-b{position:absolute;display:none;width:0;height:0;overflow:hidden;_color:#ff3fff;_filter:chroma(color=#FF3FFF);border:8px dashed transparent}
.ui-popup-follow .ui-dialog-arrow-a,.ui-popup-follow .ui-dialog-arrow-b{display:block}
.ui-popup-top-left .ui-dialog-arrow-a,.ui-popup-top .ui-dialog-arrow-a,.ui-popup-top-right .ui-dialog-arrow-a{bottom:-16px;border-top:8px solid #eaeaea}
.ui-popup-top-left .ui-dialog-arrow-b,.ui-popup-top .ui-dialog-arrow-b,.ui-popup-top-right .ui-dialog-arrow-b{bottom:-15px;border-top:8px solid #fff}
.ui-popup-top-left .ui-dialog-arrow-a,.ui-popup-top-left .ui-dialog-arrow-b{left:15px}
.ui-popup-top .ui-dialog-arrow-a,.ui-popup-top .ui-dialog-arrow-b{left:50%;margin-left:-8px}
.ui-popup-top-right .ui-dialog-arrow-a,.ui-popup-top-right .ui-dialog-arrow-b{right:15px}
.ui-popup-bottom-left .ui-dialog-arrow-a,.ui-popup-bottom .ui-dialog-arrow-a,.ui-popup-bottom-right .ui-dialog-arrow-a{top:-16px;border-bottom:8px solid #eaeaea}
.ui-popup-bottom-left .ui-dialog-arrow-b,.ui-popup-bottom .ui-dialog-arrow-b,.ui-popup-bottom-right .ui-dialog-arrow-b{top:-15px;border-bottom:8px solid #fff}
.ui-popup-bottom-left .ui-dialog-arrow-a,.ui-popup-bottom-left .ui-dialog-arrow-b{left:15px}
.ui-popup-bottom .ui-dialog-arrow-a,.ui-popup-bottom .ui-dialog-arrow-b{margin-left:-8px;left:50%}
.ui-popup-bottom-right .ui-dialog-arrow-a,.ui-popup-bottom-right .ui-dialog-arrow-b{right:15px}
.ui-popup-left-top .ui-dialog-arrow-a,.ui-popup-left .ui-dialog-arrow-a,.ui-popup-left-bottom .ui-dialog-arrow-a{right:-16px;border-left:8px solid #eaeaea}
.ui-popup-left-top .ui-dialog-arrow-b,.ui-popup-left .ui-dialog-arrow-b,.ui-popup-left-bottom .ui-dialog-arrow-b{right:-15px;border-left:8px solid #fff}
.ui-popup-left-top .ui-dialog-arrow-a,.ui-popup-left-top .ui-dialog-arrow-b{top:15px}
.ui-popup-left .ui-dialog-arrow-a,.ui-popup-left .ui-dialog-arrow-b{margin-top:-8px;top:50%}
.ui-popup-left-bottom .ui-dialog-arrow-a,.ui-popup-left-bottom .ui-dialog-arrow-b{bottom:15px}
.ui-popup-right-top .ui-dialog-arrow-a,.ui-popup-right .ui-dialog-arrow-a,.ui-popup-right-bottom .ui-dialog-arrow-a{left:-16px;border-right:8px solid #eaeaea}
.ui-popup-right-top .ui-dialog-arrow-b,.ui-popup-right .ui-dialog-arrow-b,.ui-popup-right-bottom .ui-dialog-arrow-b{left:-15px;border-right:8px solid #fff}
.ui-popup-right-top .ui-dialog-arrow-a,.ui-popup-right-top .ui-dialog-arrow-b{top:15px}
.ui-popup-right .ui-dialog-arrow-a,.ui-popup-right .ui-dialog-arrow-b{margin-top:-8px;top:50%}
.ui-popup-right-bottom .ui-dialog-arrow-a,.ui-popup-right-bottom .ui-dialog-arrow-b{bottom:15px}
@-webkit-keyframes ui-dialog-loading{0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg)}
}
@keyframes ui-dialog-loading{0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
.ui-dialog-loading{vertical-align:middle;position:relative;display:block;*zoom:1;*display:inline;overflow:hidden;width:32px;height:32px;top:50%;margin:-16px auto 0 auto;font-size:0;text-indent:-999em;color:#666}
.ui-dialog-loading{width:100%\9;text-indent:0\9;line-height:32px\9;text-align:center\9;font-size:12px\9}
.ui-dialog-loading::after{position:absolute;content:'';width:3px;height:3px;margin:14.5px 0 0 14.5px;border-radius:100%;box-shadow:0 -10px 0 1px #ccc,10px 0 #ccc,0 10px #ccc,-10px 0 #ccc,-7px -7px 0 .5px #ccc,7px -7px 0 1.5px #ccc,7px 7px #ccc,-7px 7px #ccc;-webkit-transform:rotate(360deg);-webkit-animation:ui-dialog-loading 1.5s infinite linear;transform:rotate(360deg);animation:ui-dialog-loading 1.5s infinite linear;display:none\9}
.art-icon{display: none;width: 48px;height: 48px;vertical-align: middle;}
.art-icon1{display:inline-block;background: url(../images/succ.png);}
.art-icon2{display:inline-block;background: url(../images/fail.png);}
.art-icon3{display:inline-block;background: url(../images/warn.png);}
.art-icon4{display:inline-block;background: url(../images/how.png);}
/*模态窗口 E*/



/*按钮*/
.btn-orange{	
	font-size:14px!important;
	background:#FC8936!important;
}
.btn-green{
    background:#63c01f!important;
}

/*首页微信*/
.concern-info{
	position:relative
}
.m-wx-box{
	position:absolute;
	display:none;
	width:446px;
	left:-140px;
	top:35px;
	padding:30px 25px;
	background:#fff;
	border:1px solid #e6e6e6;
	-webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 10px 15px rgba(0,0,0,.1);
	-o-box-shadow: 0 10px 15px rgba(0,0,0,.1);
	box-shadow: 0 10px 15px rgba(0,0,0,.1);
	z-index:9999;
	opacity: 1; filter:alpha(opacity=1);
}
.wx-desc{
    line-height: normal;
    padding-right: 20px;
    color:#323232;
    border-right: 1px #dcdcdc solid;
}
.wx-desc .icon{
    background-image:url(../images/icon-wx.png);
    background-repeat:no-repeat
}
.wx-desc.second{
    padding: 0;
    padding-left:20px;
    border-right: none;
}
.wx-dsc span{
    line-height: 36px;
    display: block;
}
.wx-dsc .icon-weixin{
    margin-top: 12px;
    width:28px;
    height:23px;
    background-position: -224px -19px;
}
.wx-dsc .sub-name{
    font-size: 20px
}
.wx-dsc .sub-style{
    font-size: 16px;
    color: #999
}
.icon-wx-subscribe{
    margin-right: 10px;
	display:inline-blcok;
	width:112px;
	height:112px;
	background-position:0 0
}
.icon-wx-service{
    margin-right: 10px;
	display:inline-blcok;
	width:112px;
	height:112px;
	background-position:-112px 0;
}

.wx-desc.wx-desc-more{
	padding:0;
	padding-left:30px;
	border-left:1px #dcdcdc solid 
}
.ico-triangle{
	position: absolute; 
	text-indent:-999em;
	font-size:40px;
	width:100%;
	height:9px;
	color:#fff;
	top:-8px;
	left:0;
	background:url(../images/ico-sjiao.png) center center no-repeat;
	cursor:pointer
}
.ui-ico{
	display:inline-block;
	vertical-align:middle
}

/*----------------------------------面包屑--------------------------------*/
.m-bread{
	width:1000px;
	margin:0 auto;
	height:50px;
	line-height:50px;
}
.m-bread, .m-bread a {
    color: #7d7d7d;
}
.m-bread .txt {
    color: #000;
}

/*----------------------------------按钮--------------------------------*/
.btn{
	 display: inline-block;
	 *display: inline;
	 *zoom: 1;
	 margin-bottom: 0;
	 padding: 0;
	 font-size: 14px;
	 width: 100px;
	 height: 34px;
	 line-height: 34px;
	 text-align: center;
	 cursor: pointer;
	 background-color: #fff;
	 color: #fff;
	 -webkit-webkot-border-radius:4px;
	 -moz-webkot-border-radius:4px;
	 border-radius:4px;
}
.btn-disabled{
    background: #bdc3c7
}
.btn-blue{
	background:#23a3dd
}
.btn-blue:hover{
	background:#37baf5
}
/*----------------------------------表单--------------------------------*/
.u-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.u-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.widHeg{
	width: 42px;
	height: 32px;
}

/*进度条
.progress-bar{
    display: inline-block;
    min-width: 110px;
    height: 6px;
    text-align: left;
    vertical-align: middle;
    background: #eeeef4
}
.progress-bar .bg-bar{
    float: left;
    height: 6px;
    vertical-align: middle;
    background: #00afeb
}
.percent-bar{
    display: inline-block;
    font-size: 12px;
    color: #00afeb
}
*/

